@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
	/* --color-primary:  */
	--text-color: #13270E;
	--background-color: #FBF7F6;
	--background-dark-color: #FBF7F6;
	--primary-color: #539325;
	--primary-light-color: #DED8CE;
	--primary-dark-color: #13270E;

	--gitHubIcon: url('../assets/github_icon.png');
	background-color: var(--background-light-color);

	font-family: 'Roboto', sans-serif;
}
* {
	font-family: inherit;
}
.App {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.listStyle {
	margin: 0;
	display: none;
}

.liStyle {
	padding-right: 3rem;
}

.listStyle {
	list-style-type: none;
	border: 3px var(--primary-dark-color);
	display: flex;
	flex-flow: row;
	margin: 1em 1em;
}

.liStyle {
	padding-right: 3rem;
}
.link {
	text-decoration: none;
}
