@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
	/* --color-primary:  */
	--text-color: #181319;
	--header-text-color: #fafafa;
	--background-color: #fafafa;
	--background-dark-color: #b8b8b8;
	--primary-color: #525252;
	--primary-light-color: #ad344e;
	--primary-dark-color: #26202a;
	--contrast-light-color: #fd7049;
	--contrast-color: #fd5a2c;
	font-family: 'Roboto', sans-serif;
}
* {
	font-family: inherit;
}
.App {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.listStyle {
	margin: 0;
	display: none;
}

.liStyle {
	padding-right: 3rem;
}

.listStyle {
	list-style-type: none;
	border: 3px var(--primary-dark-color);
	display: flex;
	flex-flow: row;
	margin: 1em 1em;
}

.liStyle {
	padding-right: 3rem;
}
.link {
	text-decoration: none;
}
