@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
	--text-color: #080708;
	--text-light-color: #FED7C8;
	--header-text-color: #593582;
	--background-color: 229, 218, 216;
	--primary-color: #b8b8b8;
	--primary-light-color: #FED7C8;
	--primary-dark-color: #262F0E;

	font-family: 'Roboto', sans-serif;
}
* {
	font-family: inherit;
	box-sizing: border-box;
}
.App {
	max-width: 100vw;
	max-height: 100vh;
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}

.listStyle {
	margin: 0;
	display: none;
}

.liStyle {
	padding-right: 3rem;
}

.listStyle {
	list-style-type: none;
	border: 3px var(--primary-dark-color);
	display: flex;
	flex-flow: row;
	margin: 1em 1em;
}

.liStyle {
	padding-right: 3rem;
}
.link {
	text-decoration: none;
}
