.ContactData {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}
  .Form {

		display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-webkit-flex-direction: row;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
 }

 .ButtonContainer{
	 margin: 1em;
 }

/* tablet layout */
@media (min-width: 50em) {
	.Form {
		width: 65%;
	}

}
 @media (min-width: 75em) {
	 .Form{
		 width: 90%;
	 }

 }
