.Portfolio {
	margin: 5rem;
	padding: 0.5em;
	min-height: 40vh;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin: 0;
	padding: 0.5rem;
}

@media (min-width: 769px) {
	.Portfolio {
		background-color: unset;
		width: 80vw;
		margin: 0 auto;
	}
}
