.Toolbar {
	height: 8vh;
	width: 100%;
	position: sticky;
	top: 0;
	/* left: 0; */
	background-color: var(--primary-dark-color);
	transition: ease-in-out 1s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	z-index: 90;
}

.Toolbar nav {
	height: 100%;
}

.DesktopOnly {
	width: 100%;
}

.mobileOnly {
	display: none;
}


/* for mobile don't display */
/*if it's 768px or less */
@media (max-width: 768px) {
	.DesktopOnly {
		display: none;
	}
}

@media(min-width: 769px){
	.Toolbar{
		background-color: transparent;
	}

	.Show {
		background-color: var(--primary-dark-color);
		transition: ease-in-out 1s;
	}
	.Show > {
		color: var(--text-light-color);
	}
}
