.Toolbar {
	height: 56px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: transparent;
	transition: ease-in-out 1s;
	/* color: var(--primary-dark-color); */
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	z-index: 90;
}

.Show{
	background-color: var(--background-color);
	transition: ease-in-out 1s;
}

.Toolbar nav {
	height: 100%;
}

.DesktopOnly{
	width: 100%;
}
/* for mobile don't display */
@media (max-width: 499px) {
	.DesktopOnly {
		display: none;
	}
}
