.Connect {
	display: flex;
	width: 90vw;
	justify-content: center;
	margin: 3rem;
	border: 2px solid olive;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

li {
	margin-right: 1.5rem;
}

a:hover {
	cursor: pointer;
}
