.Links {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

ul {
	list-style: disc;
}

.GitHubIcon {
	width: 2rem;
	height: 2rem;
}

a {
	text-decoration: none;
}
/* tablet layout */
@media (min-width: 50em) {
}

/* desktop layout */
/* @media (min-width: 75em) {
  .PortfolioItem {
    width: 45%;
    margin: 1em;
    padding: 0.5em;
  }
} */
