.Links {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

ul {
	list-style: disc;
}

a {
	text-decoration: none;
}

dl.PortfolioItem dt {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

@media (min-width: 769px) {
	.PortfolioItem {
		background-color: rgba(var(--background-color), 0.7);
		margin: 0.8rem;
		padding: 0.5rem;
		border-radius: 1.5rem;
	}
}
