.Resume {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-evenly;
}
.Resume button {
	margin: 7px 0;
}

@media (min-width: 600px) {
	.Resume {
		width: 100%;
		left: calc(50% - 250px);
		flex-direction: row;
	}
}
