.Center {
	display: flex;
	justify-content: center;
}

button.Button {
	background-color: transparent;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border: 2px solid red;
	font: inherit;
	padding: 0.3em 10%;
	border-radius: 0.5em;
}

.Success {
	color: var(--header-text-color);
}
.Danger {
	color: var(--primary-color);
}

.Button:disabled {
	color: var(--primary-light-color);
	cursor: not-allowed;
}
