.Center {
	display: flex;
	justify-content: center;
}

button.Button {
	background-color: transparent;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	font: inherit;
	padding: .5rem 1rem;
	/* border-radius: 0.5em; */
	border-color: var(--primary-color);
}

button.Button:hover{
	opacity: .6;
}

.Success {
	color: var(--header-text-color);
}
.Danger {
	color: var(--primary-color);
}

.Button:disabled {
	color: var(--primary-light-color);
	cursor: not-allowed;
}
