.Footer {
	height: 30vh;
	width: 100vw;
	background: url(../../../assets/header-pic.jpg) no-repeat bottom;
	display: flex;
	flex-direction: row;
	color: var(--background-light-color);
}
.ContactsContainer {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: large;
	color: var(--background-light-color);
	justify-content: center;
}

ul.Contacts {
	list-style: none;
	color: inherit;
}
li.Contacts {
	color: var(--background-light-color);
}
.Links {
	color: var(--background-light-color);
}
@media (min-width: 500px) {
	.Footer {
		height: 20vh;
		flex-direction: row;
	}

	.ContactsContainer {
		width: 100%;
		height: 100%;
	}

	li.Contacts {
		float: left;
		margin-right: 1em;
		color: var(--background-light-color);
	}
	.Links {
		color: var(--background-light-color);
	}
}
