.Footer {
	height: 30vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	color: var(--text-light-color);
	background-color: var(--primary-dark-color);
	justify-content: center;
	align-items: center;
}

.Footer > span{
	color: var(--text-light-color);
	margin: .5rem 0;
}

@media (min-width: 600px) {
	.Footer {
		height: 20vh;
	}
}
