.NavigationItem {

	box-sizing: border-box;
	display: block;
	width: 100%;
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
	white-space: nowrap;
}

.NavigationItem a,
.NavigationItem span {
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
	display: block;
	font-family: 'IBM Plex Mono', monospace;
}

@media (min-width: 769px) {
	.NavigationItem {
		display: flex;
		height: 100%;
		width: 12.7rem;
		align-items: center;
		text-align: center;
		/* border: 1px solid blue; */
	}

	.Selected {
		background-color: #ffd1c6;
		border-radius: 2.3rem;
	}

	.NavigationItem a,
	.NavigationItem span {
		height: 100%;
		padding: 1.5rem 2rem;
	}

	.NavigationItem a:hover,
	.NavigationItem span:hover {
		font-weight: 600;
	}
}
