.NavigationList {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 100%;
	font-family: inherit;
	color: inherit;
}


@media (min-width: 500px) {
	.NavigationList {
		flex-flow: row;
		width: 100%;
	}

	.NavigationContainer {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}


	.Name {
		animation: moveInRight 1s;
	}

	.NotShow {
		visibility: hidden;
		transition: ease-out 1s;
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(10rem);
		transform: translateX(10rem);
	}
	80% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
