.NavigationList {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 100%;
	width: 100%;
	font-family: inherit;
	z-index: 250;
	color: var(--primary-light-color);
}

.NotShow,
.Top {
	display: none;
}

.ResumeLink a {
	margin: 10px 0;
	box-sizing: border-box;
	display: block;
	width: 100%;
	font-family: inherit;
	white-space: nowrap;
}



@media (min-width: 769px) {
	.NavigationList {
		flex-flow: row;
		color: var(--text-color);
		width: auto;
		display: flex;
		justify-content: space-around;
		transition: ease-in .4s;
	}

	.NavigationContainer {
		width: 100%;
		padding-top: 2rem;
		padding-right: 2rem;
		display: flex;
		justify-content: flex-end;
	}

	.NavigationContainer > a.NavigationListWhite,
	.NavigationContainer > a.NavigationListWhite:visited,
	.NavigationContainer > a.NavigationListWhite:hover,
	.NavigationContainer > a.NavigationListWhite:active {
		color: var(--text-light-color);
	}

	.NotShow {
		display: block;
		visibility: hidden;
		text-align: center;
		transition-delay: 1s;
		animation: moveOutLeft 1s;
		margin: 0.5rem;
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(10rem);
		transform: translateX(10rem);
	}
	80% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@keyframes moveOutLeft {
	0% {
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	80% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(10rem);
		transform: translateX(10rem);
	}
}
