/* mobile first: */

* {
	color: var(--text-color);
}

.brMinor.brMajor {
	line-height: 2rem;
}

.AboutMe {
	margin: 0 1rem;
	font-size: x-large;
	text-align: center;
	border: 2px solid blue;
}

/* table layout */
@media (min-width: 50em) {
	.brMajor {
		line-height: 1rem;
	}
	.brMinor {
		display: none;
	}
}
/* desktop layout */
@media (min-width: 75em) {
	.brMajor.brMinor {
		display: none;
	}
	.AboutMe {
		margin: 0;
		display: flex;
		text-align: left;
		align-items: center;
		flex: 2;
	}
}
