/* mobile first: */

* {
	color: var(--text-color);
}

.brMinor.brMajor {
	line-height: 2rem;
}

.AboutMe {
	margin: 0 1rem;
	font-size: x-large;
}

/* table layout */
@media (min-width: 50em) {
	.brMajor {
		line-height: 1rem;
	}
	.brMinor {
		display: none;
	}
}
/* desktop layout */
@media (min-width: 75em) {
	.brMajor.brMinor {
		display: none;
	}
	/* .AboutMe {
		font-size: large;
	} */
}
